<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	{% seo %}

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap">
	<link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}" />
	<link rel="icon" href="{{ "assets/images/zhang.png" | relative_url }}">
	<link rel="apple-touch-icon" href="{{ "assets/images/apple-touch-icon.png" | relative_url }}">

	{% include analytics.html %}
</head>
